<div class="panel">
	<div class="instrument-slot">
		<div class="instrument">
			<app-generic-gauge class="gauge-generic"> </app-generic-gauge>
		</div>
		<div class="mask">
			<img src="/assets/asi-mask.png"/>
		</div>
	</div>
	<div class="instrument-slot">
		<div class="instrument">
			<app-ah-gauge class="gauge-generic"> </app-ah-gauge>
		</div>
		<div class="mask">
			<img src="/assets/ah-mask.png"/>
		</div>
	</div>
	<div class="instrument-slot">
		<div class="instrument">
			<app-altimeter-gauge class="gauge-generic"> </app-altimeter-gauge>
		</div>
		<div class="mask">
			<img src="/assets/altimeter-mask.png"/>
		</div>
	</div>

	<div class="instrument-slot gauge-newline">
		<div class="instrument">
			<app-tc-gauge class="gauge-tc"> </app-tc-gauge>
		</div>
		<div class="mask">
			<img src="/assets/tc-mask.png"/>
		</div>
	</div>
	<div class="instrument-slot">
		<div class="instrument">
			<app-di-gauge class="gauge-generic"> </app-di-gauge>
		</div>
		<div class="mask">
			<img src="/assets/di-mask.png"/>
		</div>
	</div>
	<div class="instrument-slot">
		<div class="instrument">
			<app-vsi-gauge class="gauge-generic"> </app-vsi-gauge>
		</div>
		<div class="mask">
			<img src="/assets/vsi-mask.png"/>
		</div>
	</div>
</div>
