.gauge-generic {
	background-color: black;
}

.gauge-newline {
	clear: left;
}

.instrument-slot {
	float: left;
	border: 1px inset gray;
}
.instrument {
	position: fixed;
}
.mask {  
	position: relative;
}

.panel {
	float: left;
	border: 1px inset black;
	background-color: #423d3d;
	padding: 5px;
	margin: 0 5% 0 5%;
	position: fixed;
}
